<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="your content" />
        <meta name="keywords" content="your content" />
        <meta name="description" content="your content" />
        <link rel="stylesheet" href="../static/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script defer src="../static/script.js"></script>
        <title>Tor Taepaisitphongse</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body onload=" addYear()">
        <header>
            <h1 id="webname">Tor Taepaisitphongse</h1>
            <nav id="myTopnav" class="topnav">
                <a href="index.html" class="active">Home</a>
                <a href="cv.html">CV</a>
                <a href="contact.html">Contact Me</a>
                <a href="fun.html">For Fun!</a>
                <a href="javascript:void(0);" class="icon">
                    <i class="fa fa-bars" onclick="activeNav()"></i>
                </a>
            </nav>
        </header>
        <div class="main">
            <h2 id="greeting">Hi, my name is Tor</h2>
            <img
                class="classA"
                src="../static/TorPicture.png"
                alt="Tor Taepaisitphongse Profile Image"
                width="350px"
            />
            <div class="classA">
                <span id="shortIntro"
                    >Hi, I'm Tor and currently am an Information Systems
                    first-year at Carnegie Mellon University.</span
                >

                <span id="readMore">read more</span>

                <span id="longIntro">
                    I am passionate about how to utilize emerging technologies
                    in a socially impactful way to drive change and empower
                    society.</span
                >

                <span id="readLess"> read less</span>
            </div>
        </div>
    </body>
    <footer>
        <p id="copyYear">Tor Taepaisitphongse &copy</p>
    </footer>
</html>
